<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!--
feuilles theme
made by amy (arreter)
don't remove credits
-->

<meta name="color:text" content="#222">
<meta name="color:links" content="#222">
<meta name="color:nav links" content="#222">
<meta name="color:hover" content="#ccc">
<meta name="color:background" content="#fff">

<meta name="if:small space between posts" content="0"/>
<meta name="if:medium space between posts" content="0"/>
<meta name="if:large space between posts" content="0"/>
<meta name="if:endless scroll" content="0"/>
<meta name="if:show archive" content="1"/>
<meta name="if:show ask" content="1" />

<meta name="if:show captions" content="1" />

<meta name="font:title" content="Times New Roman" />
<meta name="font:body" content="Georgia" />

<meta name="text:title font size" content="10px" />
<meta name="text:font size" content="9px" />

<link rel="shortcut icon" href="http://assets.tumblr.com/images/default_avatar_16.gif">
<link rel="alternate" type="application/rss+xml" href="http://demo.tumblr.com/rss">
<link rel="shortcut icon" href="http://assets.tumblr.com/images/default_avatar_16.gif">
<title>Untitled</title>
<link rel="shortcut icon" href="http://assets.tumblr.com/images/default_avatar_16.gif">
<link rel="alternate" type="application/rss+xml" href="http://demo.tumblr.com/rss">


<meta name="description" content="Description" />



<style type="text/css">
body {margin: ; height:100%; text-align:justify; font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif; font-size: 9px; color:#222; background-color:#fff;}

.tumblrAutoPager_page_info, .tumblrAutoPager_page_separator {display:none;}

.allposts {margin: auto; margin-top: 5px; width:500px; padding-top:px; overflow:shown;}

a {text-decoration:none; color:#222; -webkit-transition: 0.5s ease-in;}
a:hover {-webkit-transition: 0.5s ease-in; color:#ccc;}

#entry {margin: auto;    width:500px;}
#entry img {width:500px;}
a img {border:0px;}
#entry:hover .permalink {opacity: 1;}

.blogtitle {font-family: ; padding-bottom:px; text-align:left; font-size:10px; letter-spacing:4px; text-transform:uppercase;}

div.navlinks a {padding:1px; text align:left; position:relative; color:#222;}
div.navlinks a:hover {padding:1px; color:#ccc;}

.header {margin-left:-200px; position:fixed; width:200px;}

.h2, .title {font-size:9px; font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif; letter-spacing: 2px; text-transform:uppercase;}
.h3 {text-transform:uppercase;}
.h4 {font-family: georgia; font-size:20px; line-height:25px; font-weight:; font-style:italic; letter-spacing: 2px; text-transform:lowercase; display:block;}
.h5 {color:; font-family: arial; font-size:40px; line-height:41px; font-weight:; font-style:; text-transform:lowercase; text-align:right;}

#pag {width:px; text align:left; position:relative; margin:auto; padding:5px; font-size:9px; bottom:34px; left: -448px;}

.navbar {text-align: right; width:500px; line-height: 8px; position:fixed; padding-top:2px; bottom:-25px; background:#fff; margin:auto; }

.audio {background-color:#000000; margin-bottom : -10px; width:500px;}

.answer {color:#222; font-style:italic; margin-bottom:-15px;}

div.video embed,
div.post div.video object {width:500px; height:300px;}

ol.notes {padding: 0px; margin-top:20px; margin-bottom: 10px; list-style-type: none; font-size:9px; text-align: center;}
ol.notes li.note {text-align:center; border-top: solid 0px #ccc; padding: 0 0 3px 0;}
ol.notes li.note img.avatar {vertical-align: -4px;margin-right: 10px;width: 16px; height: 16px;}
ol.notes li.note span.action {font-weight: normal; font-size: 9px; text-align:center;}
ol.notes li.note span.action a {font-size: 9px;font-weight: normal;text-align:center;}
ol.notes li.note .answer_content {font-size: 9px;font-weight: normal;line-height: 10px;}
ol.notes li.note blockquote {font-size: 9px;border-color: none;padding: 1px 3px;margin: 3px 0 3px 7px;}
ol.notes li.note blockquote a {font-size: 9px;text-decoration: none;}

blockquote {padding-left: 7px; border-left: 1px solid #222; margin: 3px 10px 3px 7px;}

.permalink {float: left; margin-left: 506px; margin-top:0px; padding-top:0px; position: absolute; text-align: left; width: 50px; height:10px; font-size: 9px; courier new; -webkit-transition: 0.5s ease-in; opacity:0;}
.permalink a {color:;}
.permalink a:hover {color:;}
.entry:hover .permalink {opacity: 1;}
</style>



<meta http-equiv="x-dns-prefetch-control" content="off"/></head>


<body>

<div class="allposts">
<div class="blogtitle"><a href="#" title="/"><center>Untitled</center></a></div>

<center>Description</center></div><br>
</div></div>












<div id="entry">
<span class="permalink"><a href="#" title="http://demo.tumblr.com/post/236/it-does-not-matter-how-slow-you-go-so-long-as-you">10,541 notes</a></span> "<i>It does not matter how slow you go so long as you do not stop.</i>"<br>

— <b>Wisdom of <a href="#" title="http://en.wikipedia.org/wiki/Confucius">Confucius</a></b>
</div>








</div><br>
<div style="padding:2px; font-size:10px; text-align:left;font-style:italic;"></div>

</div>
















<div id="entry">

<span class="permalink"><a href="#" title="http://demo.tumblr.com/post/459265350/passing-through-times-square-by-mareen-fischinger">6,118 notes</a></span>
<a href="#" title="http://demo.tumblr.com/post/459265350/passing-through-times-square-by-mareen-fischinger">

<img src="http://www.tumblr.com/photo/1280/demo/459265350/1/tumblr_kzjlfiTnfe1qz4rgh" alt="Passing through Times Square by&nbsp;Mareen Fischinger" width="450"/><div style="margin-top:-4px; margin-bottom:-4px;"></div>
</a>

<p>Passing through Times Square by <a href="#" title="http://www.mareenfischinger.com/">Mareen Fischinger</a></p>
</div>











</div><br>
<div style="padding:2px; font-size:10px; text-align:left;font-style:italic;"></div>

</div>





















<div id="entry">
<span class="permalink"><a href="#" title="http://demo.tumblr.com/post/234/my-favorite-web-site">2,834 notes</a></span>

<div class="h2"><a href="#" title="http://">My favorite web site</a></div><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
</div>






</div><br>
<div style="padding:2px; font-size:10px; text-align:left;font-style:italic;"></div>

</div>






















<div id="entry">
<span class="permalink"><a href="#" title="http://demo.tumblr.com/post/233/jack-hey-you-know-what-sucks-lindsey">5,548 notes</a></span>
<br>
<b>Jack:</b> Hey, you know what sucks?
<br><b>Lindsey:</b> vaccuums
<br><b>Jack:</b> Hey, you know what sucks in a metaphorical sense?

<br><b>Lindsey:</b> black holes
<br><b>Jack:</b> Hey, you know what just isn&#039;t cool?
<br><b>Lindsey:</b> lava?<br>
</div>




</div><br>

<div style="padding:2px; font-size:10px; text-align:left;font-style:italic;"></div>

</div>

























<div id="entry">
<span class="permalink"><a href="#" title="http://demo.tumblr.com/post/459260683/allison-weiss-fingers-crossed">1,796 notes</a></span>
<div class="audio">

<script type="text/javascript" language="javascript" src="http://assets.tumblr.com/javascript/tumblelog.js?714"></script><span id="audio_player_459260683">[<a href="#" title="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" target="_blank">Flash 9</a> is required to listen to audio.]</span><script type="text/javascript">replaceIfFlash(9,"audio_player_459260683",'\x3cdiv class=\x22audio_player\x22\x3e<embed type="application/x-shockwave-flash" src="http://assets.tumblr.com/swf/audio_player_black.swf?audio_file=http://www.tumblr.com/audio_file/459260683/tumblr_ksc4i2SkVU1qz8ouq&color=FFFFFF" height="27" width="207" quality="best" wmode="opaque"></embed>\x3c/div\x3e')</script></div><br>
<div style="padding:2px; font-size:10px; text-align:left;font-style:italic;">Fingers Crossed by Allison Weiss</div>

</div>













<div id="entry">
<span class="permalink"><a href="#" title="http://demo.tumblr.com/post/232/an-example-post">3,982 notes</a></span>
<div class="title">An example post</div>
<div style="margin-top:-5px;"><p>Lorem ipsum dolor sit amet, consectetuer <a href="#" title="/">adipiscing elit</a>. Aliquam nisi lorem, pulvinar id, commodo feugiat, vehicula et, mauris. Aliquam mattis porta urna. Maecenas dui neque, rhoncus sed, vehicula vitae, auctor at, nisi. Aenean id massa ut lacus molestie porta. Curabitur sit amet quam id libero suscipit venenatis.</p>

<ul><li>Lorem ipsum dolor sit amet.</li>
<li>Consectetuer adipiscing elit. </li>
<li>Nam at tortor quis ipsum tempor aliquet.</li>
</ul><p>Cum sociis <a href="#" title="/">natoque penatibus</a> et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse sed ligula. Sed volutpat odio non turpis gravida luctus. Praesent elit pede, iaculis facilisis, vehicula mattis, tempus non, arcu.</p>
<blockquote>Donec placerat mauris commodo dolor. Nulla tincidunt. Nulla vitae augue.</blockquote>
<p>Suspendisse ac pede. Cras <a href="#" title="/">tincidunt pretium</a> felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque porttitor mi id felis. Maecenas nec augue. Praesent a quam pretium leo congue accumsan.</p></div>

</div>














</div><br>
<div style="padding:2px; font-size:10px; text-align:left;font-style:italic;"></div>

</div>














<div class="allposts">

<div class="navbar">

<div class="navlinks">
<div class="right">
<div class="alignRight">

<i>(<a href="#" title="/archive">archive</a>
<a href="#" title="/ask">message</a>

<a href="#" title="http://arreter.com">credit</a>)</i>
</div><br>
<br>

<div class="allposts">
<div id="pag">
<div class="totalright">

<i><a href="#" title="/page/2" title="older entries">backward</a></div></div></i>
</div></div>
</div>
</div></div>
</div>





</div>
</body>

</html>
