{% extends "base.html" %}

{% block body %}

{% if not user %}
<p>Please login to create and delete messages</p>
   <p><a href='/login'>Log in</a></p>
   <p><a href='/create_user'>Create a New User</a></p>
   <p><a href='/m/list'>Show messages</a></p>

{% else %}
<p>you are logged in as user: {{ user.username }}</p>
<p><a href='/m/add'>Add a message</a></p>
<p><a href='/create_user'>Create a New User</a></p>
<p><a href='/logout'>Log out</a></p>
<p><a href='/m/list'>Show messages</a></p>

{% endif %}

{% endblock body %}
